body{
  background-color: #4A59FF;
  margin: 0;
  
  }
  
  button{
  background-color: #3D4EFF;
  height: 60px;
   
  }
  
  ul{
    background-color: #8C8D96;
    margin-top: 0;
    width: 91%;
    height: 60px;
    display: flex;
  }
  
  h1{
    
  }